@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layouts.MainLayout)" />
    </Found>
    <NotFound>
        <p>Página no encontrada.</p>
    </NotFound>
</Router>
